{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
<div class="container">
    <h1>Contact</h1>
    <p>Une question ? Une suggestion ? N'hésitez pas à nous laisser un message via le formulaire ci-dessous.</p>

    <div class="main-display-card floating-card">
        <p>
            [ Le formulaire de contact (Nom, Email, Message) sera intégré ici prochainement ]
        </p>
    </div>

    <div class="main-display-card floating-card">
        <h3>Autres moyens de nous joindre :</h3>
        <ul>
            <li>Email : hello@monsupersite.fr</li>
            <li>Réseaux sociaux : @MonSuperSite</li>
        </ul>
    </div>
</div>
{% endblock %}