{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Accès Refusé !{% endblock %}

{% block body %}
<div class="post-container">
    <div class="ui-display-panel ui-text-center">
        <h1 class="main-title">Oups ! Zone Interdite 🚧</h1>
        <hr class="ui-separator-thick">
        
        <p class="ui-text-lead">
            Désolé, mais tu n'as pas les permissions nécessaires pour accéder à cette page. 
            C'est réservé aux administrateurs !
        </p>

        <div class="ui-actions-center">
            <a href="{{ path('app_home') }}" class="ui-pill-filter active">Retour à l'accueil</a>
        </div>
        
        <p class="ui-text-muted ui-italic">
            (Erreur 403 : Forbidden)
        </p>
    </div>
</div>
{% endblock %}
